<nav class="sidebar">
 <div class="sidebar-sticky">
   <div class="logo">
      <i class="fas fa-users"></i>
      <h2>EMS</h2>
   </div>
   
  <ul class="nav flex-column">
  <a href="/"><li><i class="fas fa-home"></i>Home</li></a>
  <li><i class="far fa-calendar-alt"></i> Calendar </li>
  <a href="/list"><li><i class="fas fa-user-friends"></i>Employees</li></a>
  <li><i class="fas fa-cog"></i>Settings</li>
  </ul>
</div> 
<% include footer %>
</nav>


  